/* styles/styles.css */

@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;700&display=swap');

body {
  background-color: #F7F0E6; /* Set to your desired background color */
}
.stApp {
  background-color: #F7F0E6; /* Optional: background color for Streamlit container */
}

div[class^="_streamlitAppContainer"] {
  border: none !important; 
  box-shadow: none !important;
  outline: none !important;
}

h1 {
  color: #348558;
  font-family: 'Alegreya Sans', sans-serif;
}

.current-question {
  font-size: 1.33em;
}
/*
.stRadio > label {
  visibility: hidden;
}
*/
.expander-content .question-container {
  display: flex;
  align-items: center;
}

.expander-content .question-icon {
  margin-right: 10px;
  font-size: 1.2em;
}
.expander-content .question-text {
  text-indent: -1.2em; /* Aligns the question text with the question number */
}