/* styles/styles.css */

@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;700&display=swap');

body {
  background-color: #F7F0E6; /* Set to your desired background color */
}
.stApp {
  background-color: #F7F0E6; /* Optional: background color for Streamlit container */
}

div[class^="_streamlitAppContainer"] {
  border: none !important; 
  box-shadow: none !important;
  outline: none !important;
}

h1 {
  color: #348558;
  font-family: 'Alegreya Sans', sans-serif;
}

.current-question {
  font-size: 1.33em;
}

.stRadio > label {
  visibility: hidden;
}

div[class*="st-key-pin_question_"] > div > button {
  display: inline-block;
  text-align: left;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  margin: auto;
}

.stRadio {
  margin-bottom: 1em;
}

.stHorizontalBlock {
  display: flex;
}

.stHorizontalBlock > .stColumn:nth-child(2) > div > div > div > div > .stButton > button {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.stHorizontalBlock > .stColumn:nth-child(3) > div > div > div > div > .stButton > button {
  margin-left: auto;
  display: block;
}

.table-header-row {
  background-color: #348558;
  color: white;
  font-weight: bold;
  margin-top: 1em;
  padding: 8px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

#pinned-question-header-col1 {
  width: calc(100% / 12 * 1);
}

#pinned-question-header-col2 {
  width: calc(100% / 12 * 8);
}

#pinned-question-header-col3 {
  width: calc(100% / 12 * 3);
}

.row {
  padding: 8px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
}

.cell {
  flex: 1;
}

div[class*="pin_index_"], 
div[class*="pin_question_"], 
div[class*="pin_response_"] {
  padding-top: 0.5em;
}

div[class*="pin_question_"] > div > button {
  display: inline-block !important;
}

.question-link {
  color: #0066cc;
  text-decoration: none;
}

.question-link:hover {
  color: #348558;
}

/*
.expander-content .question-container {
  display: flex;
  align-items: center;
}

.expander-content .question-icon {
  margin-right: 10px;
  font-size: 1.2em;
}
.expander-content .question-text {
  text-indent: -1.2em; 
}
*/